{% extends 'main/header.html' %}

{% block content %}

<h1>Smart Gamers</h1>

<div class="container">
  <div class="row">
    {% for room in rooms %}
    <div class="col-md-4 mb-4">
      <div class="card h-100">
        <div class="card-header">
          <h5 class="card-title">{{ room.name }}</h5>
        </div>
        <img src="{{ room.image.url }}" class="card-img-top" alt="Room Image">
        <div class="card-body">
          <p class="card-text">{{ room.description }}</p>
        </div>
        <div class="card-footer">
            <div class="d-grid gap-2">
                <a href="{% url 'home' %}" ><button class="btn btn-primary">Play</button></a>
            </div>
        </div>
        
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock content %}
